th {
    padding-left: $padding !important;
    background-color: #d9edf6;
}

td {
    padding: $padding !important;
}

ul {
    padding-left: 10px;
}

.name-icon {

height: 55px;
margin-bottom: 27px;
font-size: 24px;

.icon-table {
    height: 55px;
    margin-right: 13px;

}
}